#historyMain {
    margin-top: 60px;
    margin-left: 80px;
    width: 54%;
    height: 100%;
    background: url(http://localhost:8000/lines.png);
    background-repeat: no-repeat;
    img {
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 103px;
    }
}
