#eventTitle{
    margin-left:80px;
    margin-top: -50px;
    font-size: 30px;
    font-weight: 500;
}
#eventsContainer {
    padding-top: 20px;
    padding-left: 80px;
    width: 54%;
    .event {
        margin-bottom: 47px;
        width: 611px;
        height: 68px;
    }
    #event1 {
        background: url('http://localhost:8000/event1.png');
        background-size: cover;
    }
    #event2 {
        background: url('http://localhost:8000/event2.png');
        background-size: cover;
    }
    #event3 {
        background: url('http://localhost:8000/event3.png');
        background-size: cover;
    }
    #event4 {
        background: url('http://localhost:8000/event4.png');
        background-size: cover;
    }
    #event5 {
        background: url('http://localhost:8000/event5.png');
        background-size: cover;
    }
}
