

#app {
    /* HomePage */
    #homepage {
        position: relative;
        width: 2815px;
        height: 1795px;

        background: linear-gradient(
            136.16deg,
            rgba(255, 79, 79, 0.94) 12.91%,
            rgba(224, 140, 104, 0.58) 87.68%
        );
        box-shadow: 26px 24px 90px rgba(31, 26, 51, 0.13);
    }

    /* Text */
    #icon {
        position: absolute;
        width: 792px;
        height: 754px;
        left: 221px;
        top: 331px;

        background: url(http://localhost:8000/1.png);
    }

    // #logo {
    //     background: url(Logo.png);
    // }
    /* Auto Layout */
    #pending {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        position: absolute;
        visibility: hidden;
        width: 1059px;
        height: 340px;
        left: 1256px;
        top: 322px;

        /* Top */

        /* Auto Layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        position: static;
        width: 1059px;
        height: 407px;
        left: 0px;
        top: 0px;

        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 25px 0px;

        /* #1 Top Scariest Ghost 2020 */

        position: static;
        width: 445px;
        height: 30px;
        left: 0px;
        top: 0px;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        letter-spacing: 0.03em;
        text-transform: uppercase;

        /* Red Pink */
        color: #ff5b79;

        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 14px 0px;

        /* SCHEDULE TOGETHER, BECOME BETTER */

        position: static;
        width: 1443px;
        height: 601px;
        left: 0px;
        top: 44px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 900;
        font-size: 120px;
        line-height: 109%;
        /* or 131px */

        color: #ffffff;

        /* Inside Auto Layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 14px 0px;

        /* A powerful schedule tool to help time management A platform to connect people to improve schedules with group help, and thus achieve the best time management. */

        position: static;
        width: 1059px;
        height: 248px;
        left: 0px;
        top: 432px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 180%;
        /* or 50px */

        color: #ffffff;

        opacity: 0.8;

        /* Inside Auto Layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 25px 0px;

        /* Topper Menu */

        /* Auto Layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: absolute;
        visibility: hidden;
        width: 1410px;
        height: 41px;
        right: 165px;
        top: 40px;

        /* Menus */

        /* Auto Layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: static;
        width: 434px;
        height: 16px;
        right: 976px;
        top: 12.5px;

        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 47px;

        /* Graveyard */

        position: static;
        width: 63px;
        height: 16px;
        left: 0px;
        top: 0px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: right;

        /* Red Pink */
        color: #ff5b79;

        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 54px;

        /* Track Record */

        position: static;
        width: 83px;
        height: 16px;
        left: 117px;
        top: 0px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: right;

        /* Red Pink */
        color: #ff5b79;

        /* Inside Auto Layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 54px;

        /* Services */

        position: static;
        width: 54px;
        height: 16px;
        left: 254px;
        top: 0px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: right;

        /* Red Pink */
        color: #ff5b79;

        /* Inside Auto Layout */
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 0px 54px;

        /* Know More */

        position: static;
        width: 72px;
        height: 16px;
        left: 362px;
        top: 0px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: right;

        /* Red Pink */
        color: #ff5b79;

        /* Inside Auto Layout */
        flex: none;
        order: 3;
        flex-grow: 0;
        margin: 0px 54px;

        /* Btn */

        /* Auto Layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;

        position: static;
        width: 97px;
        height: 41px;
        right: 832px;
        top: 0px;

        /* Red Pink */
        border: 1px solid #ff5b79;
        box-sizing: border-box;
        border-radius: 41px;

        /* Inside Auto Layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 47px;

        /* Support */

        position: static;
        width: 57px;
        height: 21px;
        left: 20px;
        top: 10px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        /* Red Pink */
        color: #ff5b79;

        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;

        /* Button and Link */

        position: absolute;
        visibility: hidden;
        width: nanpx;
        height: nanpx;
        left: 1233px;
        top: 1155px;

        /* Btn */

        position: absolute;
        width: 433.7px;
        height: 213px;
        left: 1233px;
        top: 1155px;

        /* Rectangle 9 */

        position: absolute;
        width: 433.7px;
        height: 213px;
        left: 1233px;
        top: 1155px;

        /* Red Pink */
        background: #ff5b79;
        border-radius: 3.51852px;

        /* Sign in */

        position: absolute;
        width: 151px;
        height: 54px;
        left: 1361.78px;
        top: 1224.29px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        /* identical to box height */
        text-align: center;

        color: #ffffff;

        /* Btn */

        position: absolute;
        visibility: hidden;
        width: nanpx;
        height: nanpx;
        left: 1924px;
        top: 1155px;

        /* Rectangle 9 */

        position: absolute;
        width: 433.7px;
        height: 213px;
        left: 1924px;
        top: 1155px;

        background: #ff7272;
        border-radius: 3.51852px;

        /* Register */

        position: absolute;
        width: 151px;
        height: 54px;
        left: 2052.78px;
        top: 1224.29px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        /* identical to box height */
        text-align: center;

        color: #ffffff;

        /* Group 9 */

        position: absolute;
        visibility: hidden;
        width: nanpx;
        height: nanpx;
        left: 511px;
        top: 1113px;

        /* Vector 8 */

        position: absolute;
        width: 0px;
        height: 96px;
        left: 515px;
        top: 1117px;

        /* Red Pink */
        border: 1px solid #ff5b79;

        /* Ellipse 18 */

        position: absolute;
        width: 8px;
        height: 8px;
        left: 511px;
        top: 1113px;

        /* Red Pink */
        background: #ff5b79;

        /* Logo */

        position: absolute;
        visibility: hidden;
        width: nanpx;
        height: nanpx;
        left: 168px;
        top: 38px;

        /* TEAM 7 */

        position: absolute;
        width: 63px;
        height: 19px;
        left: 209px;
        top: 42px;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        /* or 19px */
        display: flex;
        align-items: center;
        letter-spacing: 0.08em;

        color: #ffffff;

        /* Logo */

        position: absolute;
        width: 29.03px;
        height: 26.52px;
        left: 168px;
        top: 38px;

        background: #ffffff;
    }
}
























